?xml version="1.0"?
    <model>
    <name>Robot_URDF_Visuals.urdf</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
     <name>Brogrammers</name>
     <email></email>
    </author>

    <description>
        Collision and visual URDF files for the Robot_URDF.
    </description>
</model>